<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"  xmlns:form="http://www.springframework.org/tags/form">
<head>
<link rel="stylesheet" href="css/test.css">
<title> Login</title>
</head>
<body class="login-page-body"> 
  
    <div class="login-page">
    
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h1>Welcome!</h1>
           <p th:text="${loginError}"></p> 
           <p th:text="${verifyError}"></p>
            <p th:text="${userInactiveError}"></p>
           
          
          </div>
        </div>
        <form class="login-form" th:action="@{/login}" method="post" name="confirm">
          <input type="text" id="username" name="username" placeholder="Username" />
          <input type="password" id="password" name="password" placeholder="Password" />
          <button>login</button>
          <a href="/forgot-password" style="text-decoration:none; font-size:13px;padding:5px">Forgot password?</a>
          <p class="message">Not registered? <a href="/register-user">Create an account</a></p>
        </form>
      </div>
    </div>
</body>

</html>